<div >
    
   
<div class="row" style="margin-top: 80px;margin-left: 400px;"  >
 
    <div class="col-9"  style="background-color: #64c5ff" ><p id="id" style="text-align: center;">{{products.name}}</p></div>
    <div class="col-4"  ><img src="../assets/{{products.imgPath}}" style="width: 85%;margin-top: 150px;margin-right: 50px;margin-top: 50px;"></div>
    <div class="col-6" ><p style="margin-top: 100px;">100% Original Products</p>
                                                    <p>Pay on delivery might be available</p>
                                                    <p>Fast delivery Guarantee</p>
                                                    <p>Fresh as cooked at home</p>
                                                     <br>
                                                     <p class= "bold" style="text-size-adjust: 100px;text-emphasis-style:bold;">About:-</p>
                                                     <p style="color:purple ; text-size-adjust: 50px;">*{{products.about}}*</p>
                                                     <p  style="color: red;" *ngIf="qtn">"Hurry! Few Left in Stock"</p>
                                                    <p>₹ {{products.Price}}</p>
                                                     <br>
                                                      <button (click)="cart(products)" style="margin-left: 10px;" type="button" class="btn btn-outline-primary">Add To Cart</button>

</div>

</div>
</div>

<!--
<div class="row" style="margin-top: 80px;margin-left: 400px;" *ngIf="cond1"  >
    <div class="col-9"  style="background-color: rgb(250, 246, 211);" ><p id="id" style="text-align: center;">Shirts</p></div>
    <div class="col-4"  ><img [src]="img2" style="width: 85%;margin-top: 50px;margin-right: 50px;"></div>
    <div class="col-6" ><p style="margin-top: 100px;">100% Original Products</p>
                                                    <p>Pay on delivery might be available</p>
                                                    <p>Easy 30 days returns and exchanges</p>
                                                     <p>Try & Buy might be available</p>
                                                     <br>
                                                     <button type="button" (click)="buy()"  class="btn btn-outline-primary">Buy Now</button>  <button (click)="cart()" style="margin-left: 10px;" type="button" class="btn btn-outline-primary">Add To Cart</button>

</div>

</div>

<div class="row" style="margin-top: 80px;margin-left: 400px;" *ngIf="cond2">
    <div class="col-9"  style="background-color: rgb(250, 246, 211);" ><p id="id" style="text-align: center;">Jeans</p></div>
    <div class="col-4"  ><img [src]="img1" style="width: 85%;margin-top: 50px;margin-right: 50px;"></div>
    <div class="col-6" ><p style="margin-top: 100px;">100% Original Products</p>
                                                    <p>Pay on delivery might be available</p>
                                                    <p>Easy 30 days returns and exchanges</p>
                                                     <p>Try & Buy might be available</p>
                                                     <br>
                                                     <button type="button" (click)="buy()"  class="btn btn-outline-primary">Buy Now</button>  <button (click)="cart()" style="margin-left: 10px;" type="button" class="btn btn-outline-primary">Add To Cart</button>

</div>

</div>
<div class="row" style="margin-top: 80px;margin-left: 400px;" *ngIf="cond3">
    <div class="col-9"  style="background-color: rgb(250, 246, 211);" ><p id="id" style="text-align: center;">T-Shirts</p></div>
    <div class="col-4"  ><img [src]="img4" style="width: 85%;margin-top: 50px;margin-right: 50px;"></div>
    <div class="col-6" ><p style="margin-top: 100px;">100% Original Products</p>
                                                    <p>Pay on delivery might be available</p>
                                                    <p>Easy 30 days returns and exchanges</p>
                                                     <p>Try & Buy might be available</p>
                                                     <br>
                                                     <button type="button" (click)="buy()"  class="btn btn-outline-primary">Buy Now</button><button (click)="cart()" style="margin-left: 10px;" type="button" class="btn btn-outline-primary">Add To Cart</button>

</div>

</div>
<div class="row" style="margin-top: 80px;margin-left: 400px;" *ngIf="cond4">
    <div class="col-9"  style="background-color: rgb(250, 246, 211);" ><p id="id" style="text-align: center;">Shoes</p></div>
    <div class="col-4"  ><img [src]="img3" style="width: 85%;margin-top: 50px;margin-right: 50px;"></div>
    <div class="col-6" ><p style="margin-top: 100px;">100% Original Products</p>
                                                    <p>Pay on delivery might be available</p>
                                                    <p>Easy 30 days returns and exchanges</p>
                                                     <p>Try & Buy might be available</p>
                                                     <br>
                                                     <button type="button" (click)="buy()"  class="btn btn-outline-primary">Buy Now</button> <button (click)="cart()" style="margin-left: 10px;" type="button" class="btn btn-outline-primary">Add To Cart</button>

</div>

</div>





</div>-->