
<br>
<div style="margin-left:19px ;margin-right: 19px;">
<h1>Food Items Available</h1>

</div>  

<div class="container d-flex justify-content-center mt-50 mb-50" >
    <div class="row" >
        <div class="col-md-4 mt-2" *ngFor = "let product of product">
            <div class="card">
                <div class="card-body">
                    <div class="card-img-actions"><img src="../assets/{{product.imgPath}}" class="card-img img-fluid" width="96" height="350" alt="" id="product_img"> </div>
                </div>
                <div class="card-body bg-light text-center">
                    <div class="mb-2">
                        <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2" data-abc="true">{{product.name}}</a> </h6> <a href="#" class="text-muted" data-abc="true">Electronics Item</a>
                    </div>
                    <h3 class="mb-0 font-weight-semibold">₹ {{product.Price}}</h3>
                    <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                    <div class="text-muted mb-3">34 reviews</div> <button (click)="addToCart(product)" class="btn btn-outline-primary" [disabled]="hasproductadded">Add to cart</button><a routerLink = "../prodetail/{{product._id}}" style="margin-left: 20px;">Buy</a>
                </div>
            </div>
        </div>

